<h3>Productes disponibles</h3>

<div *ngFor="let producte of appService.model.productes">
  {{ producte.nom }} Preu: {{ producte.preu }}€ Stock: {{ producte.stock }}
</div>

<p>Diners introduïts: {{ appService.model.dinersIntroduits }}</p>

<p>
  <select [(ngModel)]="monedaSeleccionada">
    <option
      *ngFor="let moneda of [0.5, 0.1, 0.2, 0.5, 1, 2]"
      [ngValue]="moneda"
    >
      {{ moneda }}
    </option>
  </select>
  <button (click)="introduirMoneda()">Introduir</button>
</p>

<p>
  <select [(ngModel)]="producteSeleccionat">
    <option
      *ngFor="let producte of appService.model.productes"
      [ngValue]="producte"
    >
      {{ producte.nom }}
    </option>
  </select>
  <button (click)="demanarProducte()">Demanar</button>
</p>

<h3>Display: {{ appService.model.display }}</h3>
<h3>Productes al calaix</h3>

<div *ngFor="let producte of appService.model.calaixRecollir">
  {{ producte.nom }}
</div>
<div>
  <button (click)="recollirProductesCalaix()">Recollir producte</button>
</div>

<h3>Diners al calaix: {{ appService.model.calaixDiners }}</h3>
<div><button (click)="recollirDinersCalaix()">Recollir canvi</button></div>

<h3>Diners a la màquina: {{ appService.model.dinersTotals }}</h3>
